<h1>delete question</h1>
{% if data %}
<form onsubmit="return confirm('Do you really want to delete?')" method="post" action="delete_question1">
    <p>qid <input type="text" name="T1" value="{{data[0]}}" /> </p>
    <p>qsubject <input type="text" name="T2" value="{{data[1]}}" /> </p>
    <p>question<input type="text" name="T3" value="{{data[2]}}" /> </p>

    <p><button type="submit">delete</button></p>
</form>
<h2>
    <a href="show_question">B A C K</a>
</h2>
{% elif msg %}
    <h3>{{msg}}</h3>
{% endif %}